<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>RESULT</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 style="text-align: center">HASIL AKHIR</h1>
        <hr>
        <p style="text-align: center"> Nama Item           : <b th:text="${name}"></b>
        <p style="text-align: center"> Harga Item          : <b th:text="${price}"></b>
        <p style="text-align: center"> Jumlah Item         : <b th:text="${quantity}"></b>
        <p style="text-align: center"> Diskon Item         : <b th:text="${diskon}"></b>
        <p style="text-align: center"> Total Pembayaran    : <b th:text="${Hasil}"></b>
        <hr>
    </body>
</html>